/* Primary Colors */
$white: #fff;
$black: #242424;
$pink: #fc0159;
$gray: #595857;

/* Secondary Colros */
$secondaryBlue: #6096d0;
$secondaryPink: $pink;
$secondaryPurple: #b26dab;
$secondaryYellow: #fcd23f;
$secondaryGreen: #76cc46;
$paleBlue: #ebf4fb;
$palePink: #ffe5ee;
$palePurple: #e9dded;
$paleYellow: #fff9e5;
$paleGreen: #f1faec;
